<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_ltMdREStFzpbdd3z-28O-TraUmCqvLY</string>
	<key>GCM_SENDER_ID</key>
	<string>316241961965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sova.Movies</string>
	<key>PROJECT_ID</key>
	<string>movies-5dcfd</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-5dcfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316241961965:ios:a960808f9a2bdf38387de4</string>
</dict>
</plist>